.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3%;
}

.create-btn {
  color: #fff;
  background-color: blue;
}

table {
  width: 100%;
}

@media screen and (max-width: 750px) {
  .mat-column-id,
  .mat-column-company_name,
  .mat-column-mobile_no {
    display: none;
  }
}

.action-buttons {
  display: flex;
  justify-content: space-around;
}

.mat-table {
  width: 100%;
  overflow-x: auto;
}

.no-data-message {
  text-align: center;
  padding: 20px;
  font-size: 50px;
  color: #999;
}
